[package]
name = "bitfield-impl"
version = "0.0.0"
edition = "2021"
publish = false

[lib]
proc-macro = true

[dependencies]
syn = { version = "2", features = ["derive", "parsing", "extra-traits", "full"] }
quote = "1"
proc-macro2 = "1"
darling = "0.20"
