[package]
name = "token-debug"
version = "0.1.0"
edition = "2021"

[workspace]

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"

[[example]]
name = "demo"
path = "examples/demo.rs"

[dev-dependencies]
token-debug = { path = "." }

